<div class="section group" id="wrap"><!--Full body wrap-->
	<div class="section group">
				<div class="col span_3_of_3" id="navBar">
				
				</div>
			</div> <!--End of Section-->	
	<div class="section group" id="wrap2"><!--Content background Wrap-->
			<div class="col span_3_of_3" id="About">
			
			</div>
			<div class="section group"><!--Member group top-->
				<div class="col span_1_of_3 member">
			
				</div>
				<div class="col span_1_of_3 member">
			
				</div>
				<div class="col span_1_of_3 member">
				
				</div>
			</div><!--End Member group top-->
			<div class="section group"><!--Member Group Bottom-->
				<div class="col span_1_of_3 member">
					
				</div>
				<div class="col span_1_of_3 member">
					
				</div>
				<div class="col span_1_of_3 member">
					
				</div>
			</div><!--End of Member Group Bottom-->
	</div><!--End of content bg Wrap-->	
</div><!--End of Body wrap-->+