
		<div class="section group" id="wrap"><!--Full body wrap-->
	<div class="section group">
		<div class="col span_3_of_3" id="navBar">
			
		</div>
	</div>
	<div class="section group" id="wrap2"><!--ContentWrap-->
		<div class="section group"><!--Section Top-->
			<div class="col span_2_of_4" id="ksVideo">
			
			</div>
			<div class="col span_2_of_4" id="ksVideoDisc">
			
			</div>
		</div><!--End of SectionTop-->
		<div class="section group"><!--Section Bottom-->
			<div class="col span_2_of_5" id="nfoContent">
				
			</div>
			<div class="col span_2_of_5" id="recentPosts">
				
			</div>
			<div class="col span_1_of_5" id="joined">
				
			</div>
		</div><!--End of Section Bottom-->
	</div><!--End of ContentWrap-->
</div><!--End of Body wrap-->
